In [12]:
import pandas as pd
import numpy as np

df = pd.read_csv('./data/auto-mpg.csv', header=None)
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name'] 

df['horsepower'] = df['horsepower'].replace('?', np.nan)      
df = df.dropna(subset=['horsepower'], axis=0)                
df['horsepower'] = df['horsepower'].astype('float')  

count, bin_dividers = np.histogram(df['horsepower'], bins=3)
print(bin_dividers) 

bin_names = ['저출력', '보통출력', '고출력']
df['hp_bin'] = pd.cut(x=df['horsepower'],
                      labels=bin_names,
                      bins=bin_dividers,
                      include_lowest=True)
horsepower_dummies = pd.get_dummies(df['hp_bin'])
horsepower_dummies.head(15)

horsepower_dummies_float = pd.get_dummies(df['hp_bin'], dtype=float)
horsepower_dummies_float.head()

horsepower_dummies_drop = pd.get_dummies(df['hp_bin'], dtype=float, 
                                          drop_first=True)
horsepower_dummies_drop.head()

[ 46.         107.33333333 168.66666667 230.        ]

   보통출력  고출력
0   1.0  0.0
1   1.0  0.0
2   1.0  0.0
3   1.0  0.0
4   1.0  0.0