In [35]:
import pandas as pd

df = pd.read_csv('./data/stock-data.csv')
df['new_Date'] = pd.to_datetime(df['Date'])
df.head()

df['Year'] = df['new_Date'].dt.year
df['Month'] = df['new_Date'].dt.month
df['Day'] = df['new_Date'].dt.day
df.head()

df['Date_yr'] = df['new_Date'].dt.to_period(freq='Y')
df['Date_m'] = df['new_Date'].dt.to_period(freq='M')
df.head()

df_june = df[df['Date_m'].astype(str).str.fullmatch('2018-06')]
df_june.head()


df_june2 = df[df['Date_m'] == pd.Period('2018-06')]
df_june2.head()

df_june = df_june.set_index('new_Date')
df_june.head()

,Date,Close,Start,High,Low,Volume,Year,Month,Day,Date_yr,Date_m
new_Date,,,,,,,,,,,
2018-06-29,2018-06-29,10700,10550,10900,9990,170253,2018,6,29,2018,2018-06
2018-06-28,2018-06-28,10400,10900,10950,10150,155769,2018,6,28,2018,2018-06
2018-06-27,2018-06-27,10900,10800,11050,10500,133548,2018,6,27,2018,2018-06
2018-06-26,2018-06-26,10800,10900,11000,10700,63039,2018,6,26,2018,2018-06
2018-06-25,2018-06-25,11150,11400,11450,11000,55519,2018,6,25,2018,2018-06