In [19]:
import seaborn as sns
df = sns.load_dataset('titanic')
df.isnull().sum()

df_thresh = df.dropna(axis=1,thresh=500)
print(df_thresh.columns)

df_age=df.dropna(axis=0,how='any',subset=['age'])
print(len(df_age))

df_age_deck = df.dropna(subset=['age', 'deck'], how='all', axis=0)  
print(len(df_age_deck))

Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'embark_town', 'alive',
       'alone'],
      dtype='object')
714
733