In [20]:
import pandas as pd

df = pd.read_csv('./data/stock-data.csv')
df['new_Date'] = pd.to_datetime(df['Date'])
df = df.drop(columns=['Date'])

df = df.set_index('new_Date').sort_index()
ts = df.head(10)
ts

ts.shift(1)
ts.shift(-2)
ts.shift(3,freq="D")
ts.asfreq("5D",method='bfill')

print(ts.resample("3B"))
ts.resample('3B').sum()

ts.rolling(window=3).sum()
ts.rolling(window='3D').sum()

DatetimeIndexResampler [freq=<3 * BusinessDays>, axis=0, closed=left, label=left, convention=start, origin=start_day]

              Close    Start     High      Low    Volume
new_Date
2018-06-01  11900.0  11800.0  12100.0  11750.0   32062.0
2018-06-04  11900.0  11900.0  12200.0  11700.0   25171.0
2018-06-05  24050.0  23700.0  24450.0  23500.0   67656.0
2018-06-07  24100.0  24000.0  24550.0  23700.0   91573.0
2018-06-08  23900.0  24150.0  24500.0  23700.0  108346.0
2018-06-11  11950.0  12000.0  12250.0  11950.0   62293.0
2018-06-12  25150.0  24200.0  25550.0  24000.0  620441.0
2018-06-14  26650.0  25400.0  27000.0  25200.0  905599.0
2018-06-15  26850.0  26800.0  27300.0  26050.0  548827.0
2018-06-18  12000.0  13400.0  13400.0  12000.0  309787.0