In [12]:
import seaborn as sns
df = sns.load_dataset('titanic')
df['age'].head(10)

mean_age = df['age'].mean(axis=0)   
df['age'] = df['age'].fillna(mean_age)
df['age'].head(10)

0    22.000000
1    38.000000
2    26.000000
3    35.000000
4    35.000000
5    29.699118
6    54.000000
7     2.000000
8    27.000000
9    14.000000
Name: age, dtype: float64