In [14]:
import seaborn as sns
df = sns.load_dataset('titanic')
df['embark_town'][825:830]

most_freq = df['embark_town'].value_counts(dropna=True).idxmax()   
print(most_freq)

most_freq2 = df['embark_town'].mode()[0]   
print(most_freq2)

df['embark_town'] = df['embark_town'].fillna(most_freq)
df['embark_town'][825:830]

Southampton
Southampton

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829    Southampton
Name: embark_town, dtype: object