In [11]:
import seaborn as sns
df = sns.load_dataset('titanic')
df2= df.copy()
df['embark_town'][825:831]

df['embark_town'] = df['embark_town'].ffill()
df['embark_town'][825:831]

df2['embark_town'] = df2['embark_town'].bfill()
df2['embark_town'][825:831]

825     Queenstown
826    Southampton
827      Cherbourg
828     Queenstown
829      Cherbourg
830      Cherbourg
Name: embark_town, dtype: object